.project-item {
    margin-bottom: 20px;
    border-radius: 8px;
    padding: 10px;
    background-color: #9a0add;
    border-bottom: solid #8a5e89 2px;
    border-left: solid #8a5e89 1px;
    opacity: 0.7;
}

.project-item h3 {
    color: wheat;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.project-item p {
    color: wheat;
    font-size: 16px;
    margin-bottom: 5px;
}

.project-item a {
    display: inline-block;
    padding: 8px 16px;
    background-color: #9facb9;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.project-item a:hover {
    text-decoration: underline;
}