/* Reset some default styles to ensure consistent rendering across browsers */
html {
    font-family: 'Arial', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.1;
}

nav {
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu a {
    color: #edb5f4;
    text-decoration: none;
    margin: 8px;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    transition: color 0.3s, background-color 0.3s;
}

.menu a:hover {
    border-bottom: 5px dotted rgb(69, 5, 5);
    color: #ff3864;
    font-weight: bold;
}

/* Media query for mobile responsiveness */
@media (max-width: 580px) {
    .menu {
        flex-direction: column;
        text-align: center;
    }

    .menu a {
        margin: 5px 0;
    }
}

.menu>a>i {
    margin-right: 10px;
    margin-top: 12px;

}