h1 em {
  color: #9a0add;
  font-size: 36px;
  font-style: normal;
}

.myImage {
  font-size: 1.5rem;
  margin: 0 1vw calc(1vw + 50px) 1vw;
  position: relative;
  transition: all 0.3s;
}

@media screen and (max-width: 768px) {
  .myImage {
    min-width: calc(50% - 2vw);
  }
}

@media screen and (max-width: 480px) {
  .myImage {
    min-width: calc(100% - 2vw);
    margin: 0 1vw calc(1vw + 30px) 1vw;
  }
}

.myImage:before {
  content: "";
  float: left;
  padding-top: 100%;
}

.myImage:hover .effect-1,
.myImage:hover .effect-2 {
  display: block;
}

.effect-1,
.effect-2 {
  border-radius: 100%;
  display: none;
  mix-blend-mode: multiply;
  height: 70%;
  opacity: 0.15;
  position: absolute;
  width: 80%;
  z-index: 3000;
}

/* .effect-1 {
    animation: rotate 1.8s linear infinite;
    background: #bcc0c2;
}

.effect-2 {
    animation: rotate 1s linear reverse infinite;
    background: rgb(209, 147, 96);
} */

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.profile {
  background-color: #230922;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(24, 20, 20, 0.1);
  transition: background-color 0.3s, color 0.3s;
}

.profile:hover {
  background-color: #9a0add;
  color: #edb5f4;
}

.myHeader {
  color: #040303;
  font-size: 28px;
  margin-bottom: 20px;
}

.profile p {
  color: #edb5f4;
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 1.5;
}

.skill-row {
  background-color: #230922;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.skill-row h2 {
  color: #040303;
  font-size: 24px;
  margin-bottom: 20px;
}

.skill-row p {
  color: #edb5f4;
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 1.5;
}

.skill-row:hover {
  background-color: #9a0add;
}
